<h1><%= @merchant.name %></h1>

<h4>Transactions at <%= @merchant.name  %>:</h4>

<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
    <% if transaction.merchant.name == @merchant.name()  %>
    <tr>
      <td><%= transaction.timestamp()  %></td>
      <td><%= transaction.merchant().name %></a></td>
      <td><%=transaction.tag().name  %></td>
      <td><%= transaction.pretty_amount() %></td>
      <td><a href="/transactions/<%=transaction.id  %>/edit"> Edit</a></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <button type="submit" <i class="material-icons">delete</i></button>
      </form></td>
    </tr>
    <% end  %>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <% total = 0  %>
    <% for transaction in @transactions  %>
      <% if transaction.merchant.name == @merchant.name()  %>
        <% total = total + transaction.amount  %>
      <% end %>
    <% end  %>
    <td>£<%= total / 100.00  %></td>
  </tr>

</table>
