<div class="container">

<h1><%= @merchant.name %> <a href="/merchants/<%=@merchant.id  %>/edit"><i class="material-icons" title="Edit">mode_edit</i></a>
<form class="delete-button" action="/merchants/<%=@merchant.id  %>/delete" method="post">
  <button type="submit" style="border:none;">
    <i class="material-icons" title="Delete">delete</i>
  </button>
</form>

<h4>Transactions at <%= @merchant.name  %>:</h4>

<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
    <% if transaction.merchant.name == @merchant.name()  %>
    <tr>
      <td><%= transaction.timestamp()  %></td>
      <td><%= transaction.merchant().name %></a></td>
      <td><%=transaction.tag().name  %></td>
      <td><%= transaction.pretty_amount() %></td>
      <td><a href="/transactions/<%=transaction.id  %>/edit"> <i class="material-icons" title="Edit">mode_edit</i></a></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <button type="submit" <i class="material-icons" title="Delete" style="border:none;">delete</i></button>
      </form></td>
    </tr>
    <% end  %>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>£<%= Transaction.calculate_total_by_merchant(@transactions, @merchant)  %></strong></td>
  </tr>

</table>

<h4> <a href="/merchants"> <i class="material-icons" title="Back to my merchants">subdirectory_arrow_left</i> Return to my merchants</a> </h4>

</div>
