<div class="container">

<h1><%= @tag.name %> <a href="/tags/<%=@tag.id  %>/edit"><i class="material-icons" title="Edit">mode_edit</i></a> <a href="/tags/<%=@tag.id  %>/edit"><i class="material-icons" title="Delete">delete</i></a></h1>


<h4><%= @tag.name  %> transactions:</h4>

<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>
  <% for transaction in @transactions %>
    <% if transaction.tag.name == @tag.name()  %>
    <tr>
      <td><%= transaction.timestamp()  %></td>
      <td><%= transaction.merchant().name %></a></td>
      <td><%=transaction.tag().name  %></td>
      <td><%= transaction.pretty_amount() %></td>
      <td><a href="/transactions/<%=transaction.id  %>/edit"> <i class="material-icons" title="Edit">mode_edit</i></a></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <button type="submit" <i class="material-icons" title="Delete">delete</i></button>
      </form></td>
    </tr>
    <% end  %>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <% total = 0  %>
    <% for transaction in @transactions  %>
      <% if transaction.tag.name == @tag.name()  %>
        <% total = total + transaction.amount  %>
      <% end %>
    <% end  %>
    <td><strong>£<%= total / 100.00  %></strong></td>
  </tr>
</table>

<h4> <a href="/tags"> <i class="material-icons" title="Back to my tags">subdirectory_arrow_left</i> Return to my tags</a> </h4>

</div>
