<form action="/transactions/<%= @transaction.id() %>" method="post">

  <label for="merchant_select">Select Merchant:</label>
  <select name="merchant_id" id="merchant_select" selected="<%= @transaction.merchant_id  %>">
    <% @merchants.each do |merchant| %>
      <% if merchant.id == @transaction.merchant_id %>
        <option value=<%= merchant.id %> selected><%= merchant.name.capitalize %></option>
      <% else %>
        <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
      <% end %>
    <% end %>
  </select>

  <label>
    Select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
  </label>

  <label for="amount">Amount:</label>
  <input id="amount" type="number" name="amount" />

  <input type='submit' value="Add transaction">
</form>
