<div class="container">

<h1>Edit transaction</h1>

<form action="/transactions/<%= @transaction.id %>" method="post">
  <label>
    Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <% if merchant.id == @transaction.merchant_id %>
          <option value=<%= merchant.id  %> selected><%= merchant.name  %></option>
          <% else %>
          <option value=<%= merchant.id  %>><%= merchant.name  %></option>
          <% end %>
        <% end %>
    </select>
  </label>

  <label>
    Select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
        <% if tag.id == @transaction.tag_id %>
          <option value=<%= tag.id  %> selected><%= tag.name  %></option>
          <% else %>
          <option value=<%= tag.id  %>><%= tag.name  %></option>
          <% end %>
        <% end %>
    </select>
  </label>

  <label for="amount">Amount £:</label>
  <input id="amount" type="number" step="0.01" name="amount" placeholder="0.00" value="<%= @transaction.amount.to_f / 100 %>" />

  <label for="timestamp">Date:</label>
  <input type="date" name="timestamp" id="timestamp" value="<%=@transaction.timestamp.to_s  %>"/>

  <input type='submit' value="Add transaction">
</form>

</div>
