<h1>Transactions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.timestamp()  %></td>
    <td><%= transaction.merchant().name %></a></td>
    <td><%=transaction.tag().name  %></td>
    <td><%= transaction.pretty_amount() %></td>
    <td><a href="/transactions/<%=transaction.id  %>/edit"> Edit</a></td>
    <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input type="submit" value="Delete" />
      </form></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <% total = 0  %>
    <% for transaction in @transactions  %>
    <% total = total + transaction.amount  %>
    <% end  %>
    <td><strong>£<%= total / 100.00  %></strong></td>
  </tr>
</table>

<p> <a href="/transactions/new"> Add a new transaction</a> </p>
